* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

body .pokebola-watermark {
	position: fixed;
	z-index: -1;
	right: 0;
	width: 80%;
	height: 80%;
}

body .pokebola-watermark img {
	position: relative;
	opacity: 0.2;
	right: -25%;
	top: -50px;
	filter: grayscale(1);
	width: 100%;
}

#modalContent .pokemon-details .header .info .types,
.pokemon .detail .types {
	padding: 0;
	margin: 0;
	list-style: none;
	text-transform: capitalize;
}

#modalContent .pokemon-details .header .info .types .type,
.pokemon .detail .types .type {
	margin: .25rem 0;
	color: #fff;
	padding: .25rem .5rem;
	font-size: .625rem;
	border-radius: 1rem;
	filter: brightness(1.15);
	text-shadow: 1px 1px black;
	width: min-content;
}


.normal {
	background-color: #A8A77A;
}

.fire {
	background-color: #EE8130;
}

.water {
	background-color: #6390F0;
}

.electric {
	background-color: #F7D02C;
}

.grass {
	background-color: #7AC74C;
}

.ice {
	background-color: #96D9D6;
}

.fighting {
	background-color: #C22E28;
}

.poison {
	background-color: #A33EA1;
}

.ground {
	background-color: #E2BF65;
}

.flying {
	background-color: #A98FF3;
}

.psychic {
	background-color: #F95587;
}

.bug {
	background-color: #A6B91A;
}

.rock {
	background-color: #B6A136;
}

.ghost {
	background-color: #735797;
}

.dragon {
	background-color: #6F35FC;
}

.dark {
	background-color: #705746;
}

.steel {
	background-color: #B7B7CE;
}

.fairy {
	background-color: #D685AD;
}